body {
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}



*{
    margin: 0;
    padding: 0;
}
 
header{
    width: 100%;
    color: white;
    background: red;
    height: 70px;
}



.center {
    text-align: center;
}







ul {
    
    display: flex;
    flex: 5px;
    justify-content: space-between;
}