body {
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}


*{
    margin: 0;
    padding: 0;
} 


header {
    color: #fff;
    text-align: justify;
    letter-spacing: 1px;
    height: 2em;
    padding: 2em 5%;
    background: #59316B; 
    
}

header h1,
header nav {
    color: #fff;
    display: inline-block;
}


header h1 {
    color: #fff;
    transition: 0.8s linear;
}


header h1:hover{
    color: rgb(231, 185, 100)
}


header::after {
    content: '';
    display: inline-block;
    width: 100%;
}


header a {
    text-decoration: none;
    transition: 0.8s linear;
}


header a:visited{
    color: white;
}


header a:active{
    color: white;
}


header a:hover{
    color: rgb(231, 185, 100)
}

.container {
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 60px;
    margin-bottom:  4em;
}

.container .center{
    text-align: center;
}

footer {
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    height: 1em;
    padding: 1em 5%;
    background: gray; 
}