body {
    margin-top: 0;
    margin-bottom: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}


*{
    margin: 0;
    padding: 0;
} 


header {
    text-align: justify;
    letter-spacing: 1px;
    height: 2em;
    padding: 2em 5%;
    background: #59316B; 
    color: #fff;
}

header h1,
header nav {
    display: inline-block;
}

header h1 {
    transition: 1s linear;
}

header h1:hover{
    color: #59316B
}

header::after {
    content: '';
    display: inline-block;
    width: 100%;
}

header a {
    text-decoration: none;
    transition: 1s linear;
}

header a:visited{
    color: white;
}

header a:active{
    color: white;
}

header a:hover{
    color: rgb(231, 185, 100)
}


